* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../img/fundo.jpg');
    background-size: auto 100vh;
    height: 100vh;
    font-family: 'Baloo 2', cursive;
}

@media (min-width: 400px) {
    body {
        font-size: 18px;
    }
}

@media (min-width: 600px) {
    body {
        font-size: 22px;
    }
}

header {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.titulo {
    transform: scale(0.2) translateY(-100vh);
    opacity: 0;
    animation: linear 2s animacaoTitulo forwards;
}

@keyframes animacaoTitulo {
    from {
        transform: scale(0.2) translateY(-100vh);
        opacity: 0;
    }
    to {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}

.menu {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a {
    color: teal;
    display: block;
    padding: 10px;
    text-decoration: none;
    transition: background-color 1s, color 1s;
}

.menu a:hover {
    background-color: teal;
    color: white;
}

a {
    color: grey;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.site-title {
    text-align: center;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}

.site-subtitle {
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    font-size: 2em;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}

.sobre,
.portfolio {
    padding: 2em;
    min-height: 100vh;
}

.sobre a {
    color: rgb(0, 102, 255);
}

.portfolio h2 {
    padding: 1.5em;
}

@media (min-width: 1200px) {
    .container {
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
    }
}

.sobre h2,
.contato h2,
.portfolio h2 {
    color: whitesmoke;
    margin-bottom: 1.5em;
    font-size: 2em;
    text-align: center;
}

.sobre p {
    color: whitesmoke;
    text-indent: 1.4em;
    margin-bottom: 1.4em;
    text-align: justify;
    max-width: 492px;
    margin-left: auto;
    margin-right: auto;
}

.sobre #alura {
    max-width: 1000px;
    text-align: center;
}

.sobre .avatar img {
    width: 350px;
    height: 350px;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.sobre .avatar {
    padding: 1em;
    display: flex;
    justify-content: center;
}

@media (min-width: 1200px) {
    .sobre .avatar {
        float: right;
        padding-left: 1em;
        padding: inherit;
    }
}

.img-portfolio {
    height: 250px;
    width: 240px;
    object-fit: cover;
    transition: transform 500ms;
    filter: drop-shadow(0px 0px 0em whitesmoke);
    margin-bottom: 20px;
}

#lingC {
    height: 280px;
    width: 240px;
    margin-bottom: -4px;
}

.linguagens {
    color: whitesmoke;
    text-align: center;
}

.img-portfolio:hover {
    transform: scale(1.2)
}

#web {
    height: 230px;
    width: 400px;
    margin-bottom: 40px;
}

.contato .icons {
    text-align: center;
}

.portfolio .grid {
    display: grid;
    gap: 3em;
    grid-template-columns: 400px;
    align-content: center;
    justify-content: center;
}

@media (min-width: 1200px) {
    .portfolio .grid {
        grid-template-columns: 320px 320px 320px;
        justify-content: center;
        align-content: center;
        height: 612px;
        width: 100%;
    }
}

.portfolio figure {
    text-align: center;
}

.contato {
    min-height: 60vh;
}

.contato a {
    color: whitesmoke;
    font-size: 3em;
    transition: text-shadow 1s;
}

.contato a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, .5);
}